.footer {
    background-color: black;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    

        &--copyrights {
            text-align: center;
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 1%;
        }
    }

    hr {
        border: 1px solid white;
        margin: 1%;
    }
}

@media screen and (min-width: 768px) {
    .footer {

    
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}
}